:root {
    --primary                         : #fe2c55;
    --black                           : rgb(22, 24, 35);
    --text-color                      : rgb(22, 24, 35);
    --primary-color                   : rgba(254, 44, 85, 1);
    --white-color                     : rgba(255, 255, 255, 1);
    // width height layouts
    --default-layout-header-height    : 60px;
    --default-layout-width            : 1150px;
    --default-layout-horizontal-spacer: 26px;
    --default-layout-slide            : 356px;

    --font-family: 'ProximaNova', Arial, Tahoma, PingFangSC, sans-serif !important;
}

a[href] {
    text-decoration: none;
    color          : var(--text-color);
}

$base-size: 16px;
$lh       : 1.313;
$fontmain :"Helvetica",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$colormain         :#0071ba;
$colorsub          :#bb8d09;
$common-text-color :white;
$common-btn-confirm: #185ba8;
$common-btn-deny   : #bb8d09;
$common-error      : #ff9600;
$common-notify     : greenyellow;
$common-green      : #00C087;
$common-red        : #d01a1d;
$common-white      : #fff;
$common-orange     : #FFAC42;
$border            : #ccc;
$text-in-light     : #181818;

$input-focus: #FFAC42;

$footer-container   : #f5f5f5;
$footer-text        : #262626;
$footer-next-disable: #ccc;

$bg-menu-color   : #f5f5f5;
$bg-scrollbar    : #000;
$bg-table-color  : #f5f5f5;
$box-shadow-color: #0000004d;
$bg-introduce    : rgb(245, 245, 245);
$dropdown-image  : url("../assets/images/dropdown.svg");
$height-resort   : 293px;
$bg-resort       : #f1f1f1;

//date picker
$date-picker-bg             : $common-white;
$date-picker-border         : darken(#3f4458, 50%);
$date-picker-arrow-hover    : $common-orange;
$date-picker-month-fg       : #000;
$date-picker-month-bg       : $common-white;
$date-picker-weekdays-fg    : #000;
$date-picker-weekdays-bg    : transparent;
$date-picker-day-fg         : #000;
$date-picker-day-hover-bg   : darken($common-white, 25%);
$date-picker-today-border   : $common-orange;
$date-picker-today-bg       : $common-orange;
$date-picker-today-fg       : #000;
$date-picker-day-selected-fg: $common-white;


$home-header-height: 77px;
$grid-breakpoints  : (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px);