.modal-rendered {

    * {
        font-size : 105% !important;
        list-style: 2;
    }



}

.show-password {
    position: absolute;
    top     : 35px;
    right   : 20px;
    cursor  : pointer;
}